<!-- Main Banner -->
<section class="page-banner-sm text-light" ref="bannerBlock">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Careers</h2>
      </div>
    </div>
  </div>
</section>

<!-- <header style="background-image:url('{{site.baseurl}}/img/vancouver-754200.jpg');
              height: 60%; padding: 100px">
  <div class="header-content" style="bottom:10%">
    <div class="header-content-inner">
      <h1 style="color:white;">Careers</h1>
    </div>
  </div> -->

  <div class="header-credit">
    <a style="color:#222222;" href="https://pixabay.com/users/proonsite-991260/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=754200">
      image@proonsite
    </a>    
  </div>  
</header>

<section id="header-career">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 
                  col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 
                  text-left text-gray">

        {{ content }}

        <hr style="margin-left:0;">

        <a style="text-transform:uppercase;" href="{{ site.baseurl }}/careers.html" class="btn btn-primary btn-xl">
           View other positions
         </a>

      </div>
    </div>
  </div>
</section>
