<!-- Main Banner -->
<section class="page-banner fill-blue-grad text-light" ref="bannerBlock">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-push-6">
        <div class="anim-about">
          <div class="graph"></div>
          <span v-for="(i,k) in 10" :key="k">
          </span>
        </div>
      </div>
      <div class="col-md-6 col-md-pull-6 banner-block">
        <h2><small>About Us</small></h2>
        <h2>A revolution in drug discovery & development</h2>
        <p class="lead">Drug development is a complex, time-consuming and resource intensive process that often fails to cross the finish line.</p>
        <p class="lead">Computer assisted drug design (CADD) has long failed to live up to it's promise to streamline that process and deliver truly insightful information to help design better drugs. HTuO's physics-based technology addresses the root of the issue.</p>
                  <a href="contact.html" class="btn btn-light btn-outline">
            Get in Touch
            <span class="arrow"></span>
          </a>
      </div>
    </div>
  </div>
</section>

<!-- Section -->
<section class="section-pad">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <h3>Our Mission</h3>
        <p>HTuO Biosciences is a deep tech company, working at the interface of chemistry and computer programming, to develop an advanced molecular simulation capable of accurately predicting the behaviour of molecules for the purpose of drug development.</p>
      </div>
    </div>
    <div class="row section-pad-sm">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="col-sm-2">
          <img style="max-width: 120px;" src="img/icon-drug2.png" alt="Icon Drug Discovery" />
        </div>
        <div class="col-sm-10">
          <h5>Identifying Drug Candidates</h5>
          <p>Drug development is costly and risky, with a 90% failure rate. HTuO's physics-based molecular modelling solution, AtomForge, will reduce time and resources needed to develop drugs.</p>
        </div>
      </div>

      <div class="col-sm-8 col-sm-offset-2">
        <div class="col-sm-2">
          <img style="max-width: 120px;"  src="img/icon-science.png" alt="Icon Physics" />
        </div>
        <div class="col-sm-10">
          <h5>It All Starts With Physics</h5>
          <p>By starting with the physics of individual atoms, we have developed a brand new energy equation for molecular systems, which allows us to derive a new and accurate force field.</p>
        </div>
      </div>

      <div class="col-sm-8 col-sm-offset-2">
        <div class="col-sm-2">
          <img style="max-width: 120px;"  src="img/icon-different.png" alt="Icon Differentiation" />
        </div>
        <div class="col-sm-10">
          <h5>Differentiation</h5>
          <p>AtomForge presents a different approach to molecular modelling as it operates on a closer level to real-world molecular behaviours compared to other commercially available force fields.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <a href="technology" class="btn btn-primary btn-outline btn-arrow">Our Technology <span class="arrow"></span></a>
      </div>
    </div>
  </div>
</section>

<!-- Section -->
<!-- <section class="section-pad fill-light team"> -->
<section class="section-pad-round fill-light-blue text-light team"> <!--text-light -->
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-12">
        <h3>A world class team of Specialists</h3>
      </div>
    </div>
    <div class="row">
<!--      <div class="team-list" :class="{active: teamActive}">-->
<!--        {% for person in site.data.team.cofounder %}-->
<!--        <div class="person" ref="cofounder-{{forloop.index}}">-->
<!--          <img @click="showProfile('cofounder-{{forloop.index}}')" src="{{ person.image }}" alt="{{ person.name }}"/>-->
<!--          <div class="title">-->
<!--            <h6 @click="showProfile('cofounder-{{forloop.index}}')">{{ person.name }}</h6>-->
<!--            <p>{{ person.role }}</p>-->
<!--          </div>-->
<!--          <div class="col-md-4 col-md-offset-4 bio">-->
<!--            <div class="close" @click="closeProfile()">X</div>-->
<!--            <p>{{ person.text }}</p>-->
<!--          </div>-->
<!--        </div>-->
<!--        {% endfor %}-->
<!--      </div>-->
      <div class="team-list-2" :class="{active: teamActive}">
        {% for person in site.data.team.people %}
        <div class="person" ref="person-{{forloop.index}}">
          <img @click="showProfile('person-{{forloop.index}}')" src="{{ person.image }}" alt="{{ person.name }}"/>
          <div class="title">
            <h6 @click="showProfile('person-{{forloop.index}}')">{{ person.name }}</h6>
            <p>{{ person.role }}</p>
          </div>
          <div class="col-md-4 col-md-offset-4 bio">
            <div class="close" @click="closeProfile()">X</div>
            <p>{{ person.text }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<!--Testing
<section class="section-pad fill-blue text-light team">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-12">
        <h3>A world class team of Specialists</h3>
      </div>
    </div>
    <div class="row">
      <div class="team-list-2" :class="{active: teamActive}">
        {% for person in site.data.team.people %}
        <div class="person" ref="person-{{forloop.index}}">          
          <div class="bio-container">
            <img @click="showProfile('person-{{forloop.index}}')" src="{{ person.image }}" alt="{{ person.name }}" />
            <div class="title">
              <h6 @click="showProfile('person-{{forloop.index}}')">{{ person.name }}</h6>
              <p>{{ person.role }}</p>
            </div>
            <div class="col-md-4 col-md-offset-4 bio">
              <div class="close" @click="closeProfile()">X</div>
              <p>{{ person.text }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
-->

<!-- Section -->
<section class="section-pad team">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-12">
        <h3>Board Members</h3>
      </div>
    </div>
    <div class="row">
      <div class="team-list-2" :class="{active: teamActive}">
        {% for boardmember in site.data.board.people %}
        <div class="person" ref="boardmember-{{forloop.index}}">
          <div class="title">
            <h6><a href="{{boardmember.link}}" class="nav-item board-link">{{boardmember.name}}</a></h6>
            <!--<h6><a href="{{boardmember.link}}" style="color:#333;" class="nav-item">{{boardmember.name}}</a></h6>-->
            <p>{{boardmember.role }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section class="section-pad-md text-light fill-blue">
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-12">
        <h3>We're Hiring!</h3>
        <p>We are looking for creative people to join our team.</p>
        <a href="careers.html" class="btn btn-light btn-outline btn-arrow">Apply Now <span class="arrow"></span></a>
      </div>
    </div>
  </div>
</section>

<section class="section-pad-sm">
</section>
