<!-- Main Banner -->
<section class="page-banner-sm text-light">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Careers & Growth</h2>
      </div>
    </div>
  </div>
</section>

<!-- Section -->
<section class="section-pad-md">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h6>Current Open Positions</h6>
        <p>Are you interested in joining our team?  We'd love to hear from you.</p>
        <a href="contact.html" class="btn btn-primary btn-outline w-100">Contact Us <span class="arrow"></span></a>
        <!--<p><a class="link-arrow" href="contact.html">Contact Us <span class="arrow"></span></a></p>-->
      </div>
      <div class="col-md-8 col-md-push-1">

        <div class="position">
          <ul>
          {% for post in site.posts %}
          <li style="margin:10px 0;"><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
          </ul>
        </div>
        
      </div>
    </div>
  </div>
</section>

<!-- {% include blocks/collaborate.html %} -->
