<!-- Main Banner -->
<section class="page-banner-sm text-light" ref="bannerBlock">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Contact Us</h2>
      </div>
    </div>
  </div>
</section>

<!-- Section -->
<section class="section-pad-md">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h6>Get in touch</h6>
        <p>For General inquires or hiring for current open positions, please connect with us via the provided email addresses.</p>
        <h6>Office</h6>
        <p>300-1001 W Broadway<br/>
        Vancouver, BC, Canada</p>
        <h6>Mailing Address</h6>
        <p>PO Box 300, 101-1001 W Broadway<br/>
        Vancouver, BC, Canada<br/>
        V6H 4E4</p>
        <!-- <h6>Phone</h6> <p>(604)-343-1118</p> -->
      </div>
      <div class="col-sm-3 col-md-push-1">
        <h6>Collaboration</h6>
        <p style="margin-bottom: 0.5em;">Connect with us to learn more about our technology and explore partnering opportunities.</p>
        <a href="mailto:info@htuobio.com" class="btn btn-primary btn-outline">info@htuobio.com</a>
        <br/>
        <br/>

        <h6>Careers</h6>
        <p style="margin-bottom: 0.5em;">Ready to join our team?  Check out our open positions below, or send us an email.</p>
        <a href="careers:careers@htuobio.com" class="btn btn-primary btn-outline">careers@htuobio.com</a>
        <br/>
        <br/>

      </div>
      <div class="col-sm-3 col-md-push-1">
        <h6>Partnership</h6>
        <p>We’d love to hear from strategic partners & investors</p>
         <div class="contact-person">
           <a href="mailto:jacek@htuobio.com">
            <img class="person" src="img/team/jacek-mis.jpg" alt="Jacek Mis"/>
          </a>
          <p>Jacek Mis</p>
        </div>
        <div class="contact-person">
          <a href="mailto:anthony@htuobio.com">
            <img class="person" src="img/team/anthony-fejes.jpg" alt="Anthony Fejes"/>
          </a>
          <p>Anthony Fejes</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% include blocks/career.html %}

<section class="section-pad-foot">
</section>
