<!-- Main Banner -->
<section class="page-banner-sm text-light" ref="bannerBlock">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>News & Events</h2>
      </div>
    </div>
  </div>
</section>

<section class="section-pad-foot">
</section>

<!-- Section: Filter Buttons -->
<section class="section-pad-round-sm text-light">
  <div class="container">
    <div class="filter-buttons text-center">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-2 col-md-offset-1" style="margin-bottom: 1em;">
          <button class="btn btn-primary btn-outline btn-block" @click="filterNews('all')">All</button>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-2" style="margin-bottom: 1em;">
          <button class="btn btn-primary btn-outline btn-block" @click="filterNews('news')">News</button>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-2" style="margin-bottom: 1em;">
          <button class="btn btn-primary btn-outline btn-block" @click="filterNews('events')">Events</button>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-2" style="margin-bottom: 1em;">
          <button class="btn btn-primary btn-outline btn-block" @click="filterNews('investments')">Investments</button>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-2" style="margin-bottom: 1em;">
          <button class="btn btn-primary btn-outline btn-block" @click="filterNews('awards')">Awards</button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section: News List -->
<section class="section-pad-md" ref="newsparent">
  <div class="container">
    <div class="row">
      <div class="col-md-12 news-list">
        {%- for event in site.data.news.events reversed -%}
          <div 
            ref="article-{{forloop.index}}"
            class="article active 
              {%- for tag in event.tags -%}
                {{tag | prepend: ' '}} 
              {%- endfor -%}">
            <div class="image" style="background-image: url({{event.img}});">
              <span>{{ event.date }}</span>
            </div>
            <p class="tags">
              {%- for tag in event.tags -%}
                <span ref="n-{{tag}}">{{tag}}</span>
              {%- endfor -%}
            </p>
            <h6>{{event.title}}</h6>
            <p>{{ event.text | markdownify }}</p>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</section>

<section class="section-pad-foot">
</section>

<!-- {% include blocks/collaborate.html %} -->
