<!-- Main Banner -->
<section class="page-banner text-light fill-blue-grad" ref="bannerBlock">
  <div class="loader"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 banner-block">
        <h2><small>Powering Innovation</small></h2>
        <h2>Optimizing Therapeutic Development</h2>
        <p class="lead">AtomForge’s focus is turning the undruggable - druggable.</p>
          <a href="contact.html" class="btn btn-light btn-outline">Get in Touch<span class="arrow"></span></a>
      </div>
      <div class="col-md-6 col-md-pull-6"></div>
    </div>
  </div>
</section>

<!-- Section -->
<section class="section-pad">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-xs-12 col-sm-offset-2 text-center">
        <div class="row">
        <h3>An In Silico Intersection of Physics, Chemistry & Biology</h3>
          <!--
          <p>AtomForge utilizes a unique physics-based model to accurately represent the behaviours of atoms and molecules, which closely mimics the natural world and does not rely on training data.</p>
          <p>HTuO aims to utilize the AtomForge software to revolutionize drug design and expedite drug discovery, particularly for hard-to-drug proteins.</p>
          -->
        </div>
    </div>
  </div>
</section>

<!-- Section 
<section class="section-pad">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <div class="text-box"> 
          <h3>An In Silico Intersection of Physics Chemistry & Biology</h3>
          <p>AtomForge utilizes a unique physics-based model to accurately represent the behaviours of atoms and molecules, which closely mimics the natural world and does not rely on training data.</p>
          <p>HTuO aims to utilize the AtomForge software to revolutionize drug design and expedite drug discovery, particularly for hard-to-drug proteins.</p>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- Section -->
<section class="section-pad-md text-light fill-light-blue">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="image-block right">
          <img src="img/img-molecule-1.jpg" alt=""/>
        </div>
      </div>
      <div class="col-sm-5 col-sm-push-1">
        <h3>Lead Identification/Optimization</h3>
        <p>AtomForge is an original drug discovery solution designed for the most challenging problems. It generates the precise structure-based affinity data necessary for delicate drug optimization work within existing or emerging modalities, such as molecular glues or macrocyclic peptides.</p>
      </div>
    </div>
  </div>
</section>

<!-- Section -->
<section class="section-pad">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-12 image-block-right">
        <div class="image">
          <!--<img class="img" src="img/img-graph-prediction-error.svg" alt=""/ -->
          <img class="img" src="img/ligands-in-pocket-transparent-v3.png" alt=""/>
        </div>
      </div>
      <div class="col-sm-5 col-sm-push-1 text-block"><!-- col-sm-5 col-sm-push-1 col-xs-12 text-block text-md-left text-sm-center text-xs-center -->
        <h3><small></small></h3>
        <h3>Molecular Glues </h3>
        <p>AtomForge’s dynamic charge model accurately captures the complex redistribution of charge at the interfaces between proteins and the “glue molecule”. At HTuO, we aim to accelerate progress in drug development within this rapidly evolving field.</p>
      </div>
    </div>
  </div>
</section>

<!-- Section -->
<section class="section-pad text-light fill-blue">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-12 image-block left">
        <div class="image">
          <!--<img class="img" src="img/img-graph-prediction-error.svg" alt=""/ -->
          <img class="img" src="img/ligands-in-pocket-transparent-v3.png" alt=""/>
        </div>
      </div>
      <div class="col-sm-5 col-sm-push-1 text-block"><!-- col-sm-5 col-sm-push-1 col-xs-12 text-block text-md-left text-sm-center text-xs-center -->
        <!-- <h3><small>Optimizing Interactions</small></h3> -->
        <h3>Macrocyclic Peptides </h3>
        <p>Exploring the potential of MCPs as a therapeutic modality demands tools capable of detailed molecular property characterization at scale. AtomForge’s dynamic model meets this challenge, enabling frontier drug design in this nascent field.</p>
        <p><small>Have more questions about HTuO Biosciences?</small></p>
        <a href="faq.html" class="btn btn-light btn-outline btn-arrow">Explore our FAQ<span class="arrow"></span></a>
      </div>
    </div>
  </div>
</section>

<!-- Section -->
<!-- <section class="fill-blue-grad section-pad text-light">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3>Root Mean Squared Deviation (RMSD) Error Quantification for Validation Data</h3>
        <p><small>General Amber Force Field vs HTuO Force Field</small></p>
        <div class="mobile-graph">
          <img src="img/img-graph-validation-data.svg" alt=""/>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- Section
<section class="section-pad">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-push-1 text-left">
        <h3>Core Applications</h3>
        <p>Accelerating the journey to IND enabling studies.</p>
        <div class="row category-group">
          <div class="col-md-6 col-sm-6 col-mobile-6">
            <div class="category">
              <img class="icon" src="img/icon-discovery.svg" alt="Icon Discovery"/>
              <h6>Molecular Glues</h6>
              <p>AtomForge is particularly well-suited to support molecular glue development projects because of its dynamic charge model, which captures the intricate redistribution of charge at the protein-glue-protein interfaces. By leveraging AtomForge, researchers can improve hit detection and enhance lead optimization rates in this rapidly evolving field.</p>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-mobile-6">
            <div class="category">
              <img class="icon" src="img/icon-bond.svg" alt="Icon Bond"/>
              <h6>Macrocyclic Peptides</h6>
              <p>Macrocyclic peptides combine the deliverability of small molecules with the specificity of protein-based therapies, presenting a promising therapeutic option. Traditional CADD methods have struggled with macrocyclic peptides, due to outdated physics models and rigid parameterization. AtomForge’s comprehensive parameterization allows our tools to provide valuable data for macrocyclic peptide based therapy projects. </p>
            </div>
          </div>
        </div>
        <p><small>Have more questions about HTuO Biosciences?</small></p>
        <a href="faq.html" class="btn btn-primary btn-outline btn-arrow">Explore our FAQ<span class="arrow"></span></a>
      </div>
    </div>
  </div>
</section>
-->

<!-- {% include blocks/collaborate.html %} -->
