<!-- Main Banner -->
<section class="page-banner text-light fill-blue-grad" ref="bannerBlock">
  <div class="loader"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 banner-block">
        <h2><small>Powering Innovation</small></h2>
        <h2>We are designing the future of <span>molecule discovery</span></h2>
        <p class="lead">HTuO Biosciences develops advanced molecular simulation to accurately predict drug behaviour through chemistry and computer programming.</p>
                  <a href="contact.html" class="btn btn-light btn-outline">
            Get in Touch
            <span class="arrow"></span>
          </a>
      </div>
      <div class="col-md-6 col-md-pull-6"></div>
    </div>
  </div>
</section>

<!-- Section -->
<section class="section-pad">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <div class="row">
        <h3>Unique CADD tools for drug discovery</h3>
        <p>AtomForge’s physics-based force field is the engine that enables us to provide detailed insights into the structure composition and behavior of small molecules.</p>

        <p>Common challenges that CADD users face in their drug discovery are related to <br>structure conformational analysis, molecular dynamic simulations, and free energy perturbations (FEP).</p>
      </div>
    </div>
  </div>
</section>

<!-- Section -->
<section class="section-pad-md">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="image-block-left">
          <img src="img/img-molecule-1.jpg" alt=""/>
        </div>
      </div>
      <div class="col-sm-5 col-sm-push-1">
        <h3>Structure Conformational Analysis</h3>
        <p>AtomForge’s physics-based force field is the engine that enables structure conformational analysis of bond length, angles, and tortions in small molecules. </p>
      </div>
    </div>
  </div>
</section>

<!-- Section -->
<section class="section-pad-md">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <h3>HTuO’s Atomic Model goes further</h3>
        <p>Our platform correctly maintains the structure of ice, without explicit parameterization for water molecules.</p>
        <p>The training set for our force field parameterization includes alcohols and cyclic structures that contain oxygen, but not water itself. Our platform was able to correctly maintain the structure of Ice in both Molecular Dynamics simulations and using energy minimization algorithms.</p>
      </div>
      <div class="col-sm-6 col-sm-push-1">
        <div class="image-block">
          <img src="img/img-molecule-2.jpg" alt=""/>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section -->
<section class="fill-light section-pad">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-12 image-block left">
        <div class="image">
          <img class="img" src="img/img-graph-prediction-error.svg" alt=""/>
        </div>
      </div>
      <div class="col-sm-5 col-sm-push-1 col-xs-12 text-block text-md-left text-sm-center text-xs-center">
        <h3>Comparing <span>Our Accuracy</span></h3>
        <p>Using AMBER’s own test for testing force fields, our tools are able to better predict the configurations of molecules in a head-to-head test. It improves the accuracy for the location of atoms, bond lengths and angles between atoms. AMBER cannot predict charge.</p>
      </div>
    </div>
  </div>
</section>

<!-- Section -->
<!-- <section class="fill-blue-grad section-pad text-light">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3>Root Mean Squared Deviation (RMSD) Error Quantification for Validation Data</h3>
        <p><small>General Amber Force Field vs HTuO Force Field</small></p>
        <div class="mobile-graph">
          <img src="img/img-graph-validation-data.svg" alt=""/>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- Section -->
<section class="section-pad">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-push-1 text-left">
        <h3>Core <span>applications</span></h3>
        <p>The primary objective of our technology is to faithfully model the behaviour of drug-target interactions and more accurately predict binding energies, thus allowing better optimization of hit and candidate drug molecules. We have identified pharmaceutical, agricultural chemistry, and AI-based drug discovery companies as our target customers.</p>
        <div class="row category-group">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="category">
              <img class="icon" src="img/icon-discovery.svg" alt="Icon Discovery"/>
              <h6>Lead Optimization</h6>
              <p>Our initial focus is on the drug optimization component of drug discovery, where improved insight can accelerate the process of converting a hit to a lead compound.</p>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="category">
              <img class="icon" src="img/icon-bond.svg" alt="Icon Bond"/>
              <h6>Undruggable Targets</h6>
              <p>In the longer term, the power of our technology will allow us to generate in-house lead compounds that address unmet needs by focusing on undruggable proteins.</p>
            </div>
          </div>
          <!-- <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="category">
              <img class="icon" src="img/icon-genetic.svg" alt="Icon Bond"/>
              <h6>Material Sciences</h6>
              <p>Aid and develop material technologies</p>
            </div>
          </div> -->
        </div>
        <p><small>Have more questions about HTuO Biosciences?</small></p>
        <a href="faq.html" class="btn btn-primary btn-outline btn-arrow">Explore our FAQ<span class="arrow"></span></a>
      </div>
    </div>
  </div>
</section>

<!-- {% include blocks/collaborate.html %} -->