<!-- Main Banner -->
<section class="page-banner fill-blue-grad text-light" ref="bannerBlock">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-push-6">
        <div class="anim-atom">
          <div class="b">
            <span v-for="(i,k) in 4" :key="'b' + k" :class="'b' + k"></span>
          </div>
          <div class="o">
            <span v-for="(i,k) in 3" :key="'c' + k" :class="'c' + k"></span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-md-pull-6 banner-block">
        <h2><small>Our Technology</small></h2>
        <h2>AtomForge:
          <br>A paradigm shift in <span>structure-based</span> <span>drug design</span> </h2>
        <p class="lead">By taking a physics-based approach, we are developing AtomForge to better predict the structure and conformation of molecules for drug optimization.</p>
                  <a href="contact.html" class="btn btn-light btn-outline">
            Get in Touch
            <span class="arrow"></span>
          </a>
      </div>
    </div>
  </div>
</section>

<!-- Section -->
<section class="section-pad">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <img style="width: 200px; margin: 0 auto 2em auto;" src="img/img-atom.png" alt="HTuo Molecule">
        <h3>Unique Features of AtomForge’s Force Field</h3>
      </div>
    </div>
    <div class="row section-pad-sm">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="col-sm-2">
          <img style="max-width: 120px;" src="img/icon-chemistry.svg" alt="Icon Chemistry" />
        </div>
        <div class="col-sm-10">
          <h5>Polarizable</h5>
          <p>Calculating the dynamic charge distribution between atoms, representing polarization, in real-time with minimal computational power.</p>
        </div>
      </div>

      <div class="col-sm-8 col-sm-offset-2">
        <div class="col-sm-2">
          <img style="max-width: 120px;"  src="img/icon-discovery.svg" alt="Icon Chemistry" />
        </div>
        <div class="col-sm-10">
          <h5>Breakable Bonds</h5>
          <p>A “bond order” mechanism that allows for forming and breaking bonds between a hydrogen and non-hydrogen atom, enabling simulations of protonation/deprotonation processes in an aqueous solution.</p>
        </div>
      </div>

      <div class="col-sm-8 col-sm-offset-2">
        <div class="col-sm-2">
          <img style="max-width: 120px;"  src="img/icon-flow.svg" alt="Icon Chemistry" />
        </div>
        <div class="col-sm-10">
          <h5>Realistic Simulations</h5>
          <p>Often ignored in traditional force fields, AtomForge includes proton transfer behaviour to enable more realistic simulations of biochemical processes.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <p>To learn more about the properties of AtomForge’s force field, and how it compares to conventional force fields, download our <a href="https://share.hsforms.com/1M-XKISZFSQO_pj19L3JHDAd8mg8">ACS 2023 scientific poster now.</a></p>
      </div>
    </div>
  </div>
</section>

<!-- Section -->
<section class="split-image fill-light">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 image-block left">
        <div class="image" style="background-image: url(img/img-waves.jpg);"></div>
      </div>
      <div class="col-sm-5 col-sm-push-1 text-block">
        <img class="icon" src="img/icon-AI.png" alt="Icon AI" />
        <h3>A ML-Driven Approach to Parameterization</h3>
        <p>By utilizing a machine learning and reinforcement learning-like approach to parameterize AtomForge, we can surpass conventional force fields and achieve quantum mechanics-accuracy level results. <br>AtomForge is currently parameterized to simulate systems consisting of five elements — using only 11 atom types.</p>
      </div>
    </div>
  </div>
</section>

<section class="section-pad">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-push-1 text-left">
        <h3>Performance of the AtomForge Force Field</h3>
        <p>We have now reached the minimum viable product milestone where AtomForge is comparable, and in some cases outperforms, conventional force fields GAFF (AMBER) and MMFF94. The capabilities of AtomForge will enable HTuO to shorten the lead optimization process, reduce downstream wet lab work, and eventually develop innovative drugs designed around proton transfers and charge fluctuations.</p>
        <div style="width: 100%; min-width: 100px; max-width: 600px; margin-left:auto; margin-right:auto;">
          <div style="position: relative; width: 100%; overflow: hidden;">
            <p><iframe width="560" height="315" src="https://www.youtube.com/embed/wG4D1L2YZ0A?si=egIJu4CiXBwnFOOE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </div>
        </div>
        <br>
        <p>Contact us at <a href="info@htuobio.com">info@htuobio.com</a> to request our latest white paper on the performance of AtomForge.</p>
        <a href="faq.html" class="btn btn-primary btn-outline btn-arrow">Explore our FAQ<span class="arrow"></span></a>

      </div>
    </div>
  </div>
</section>